---
import BaseLayout from "@components/layout/BaseLayout.astro";
import Button from "@components/ui/Button.astro";
---

<BaseLayout title="404 - Page Not Found">
  <div
    class="flex flex-col items-center justify-center min-h-[70vh] px-4 text-center"
  >
    <h1
      class="text-9xl font-black text-indigo-500/20 absolute -z-10 select-none"
    >
      404
    </h1>
    <div class="space-y-6">
      <h2 class="text-4xl font-black text-white italic">
        Oops! Halaman Tidak Ditemukan
      </h2>
      <p class="text-zinc-500 max-w-md mx-auto">
        Sepertinya Anda tersesat di luar angkasa. Mari kembali ke bumi dan
        temukan film favorit Anda.
      </p>
      <div class="pt-4">
        <Button href="/" size="lg">Kembali ke Beranda</Button>
      </div>
    </div>
  </div>
</BaseLayout>
